<ion-content>
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="limpar()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h1> FESTINHA</h1>
  <div class="nPessoas">
    <ion-item>
      <ion-label> QTD DE ADULTOS </ion-label>
      <ion-input type="  number" [(ngModel)]=" qtdAdultos" placeholder="   Ex 12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> QTD DE CRIANÇAS  </ion-label>
      <ion-input type=" number" [(ngModel)]=" qtdCriancas"  placeholder="   Ex: 10"></ion-input>
    </ion-item>
  </div>
  <ion-button (click)="calcular()">CALCULAR</ion-button>
  <div class="nPessoas">
    <ion-label>
      <h2>QTD DE SALGADINHOS (QTD)</h2>
      {{totalSalgadinho}}
    </ion-label>
    <ion-input type="number"></ion-input>
    <ion-label>
      <h2>QTD DE REFRIGERANTE (L)</h2>
      {{totalRefrigerante}}
    </ion-label>
    <ion-input type="number"></ion-input>
    <ion-label>
      <h2>QTD DE BOLO (KG)</h2>
      {{totalBolo}}
    </ion-label>
    <ion-input type="number"></ion-input>



  </div>
</ion-content>